{% extends 'base.html' %}

{% block header %}
    <h1>
        {% block title %}Register{% endblock %}
        </h1>
{% endblock %}

{% block content %}

    <!-- Register form -->
    <form method="POST" 
          id="loginRegister" 
          validate>

        <!-- Username field -->
        <div clas="form-group">
            <label for="username">
                Username
                </label>
            <input name="username" 
                   id="username"
                   class="form-control" 
                   required>
            </div>

        <!-- Email field -->
        <div clas="form-group">
            <label for="email">
                Email
                </label>

            <input type="email" 
                   name="email" 
                   id="email" 
                   class="form-control" 
                   required>
            </div>

        <!-- Password field -->
        <div class="form-group">
            <label for="password">
                Password
                </label>
            <input type="password" 
                   name="password" 
                   id="password" 
                   class="form-control" 
                   required>
        </div>

        <!-- Register button -->
        <div class="form-group">
            <button type="submit" 
                    class="btn btn-primary">
                    Register
                </button>
            <!-- Link to login page -->
            <a href="{{ url_for('auth.login') }}" 
               id="loginRegister">
               Already have an account? Login
                </a>
            </div>

        </form>

{% endblock %}