{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ username }}{% endblock %}</h1>
  {% if g.user['username'] == username %}
  <br>
  <form action="{{ url_for('blog.create') }}">
    <button type="submit" class="btn btn-primary">New Post</button>  
  </form>
  {% endif %}
{% endblock %}
{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          {% if g.user['id'] == post['author_id'] %}
          <div class="dropdown dropleft" id="dropdown">
            <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="/static/assets/three-dots-vertical.svg" alt="3 dots">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
            </div>
          </div>
        </div>
        {% endif %}
      </header>
      <h2><a href="{{ url_for('blog.viewPost', id=post['id']) }}">{{ post['title'] }}</a></h2>
      <div class="about">By <a href="{{ url_for('blog.profile', username=post['username']) }}">{{ post['username'] }}</a> - {{ post['created'].strftime('%d/%m/%y') }}</div>
      <p class="body">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  <br>
  {% if g.user['username'] == username %}
  <form action="{{ url_for('auth.logout') }}">
    <button type="submit" class="btn btn-warning">Logout</button>  
  </form>
  {% endif %}
{% endblock %}
