<!-- Base file that is used for the templates -->

<!DOCTYPE html>
<!-- Creates a block called title that other templates can wrap a title within -->
<title>
    {% block title %}{% endblock %} - Website
    </title>

<link rel="stylesheet" 
      href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet" 
      href="/static/bootstrap/css/bootstrap.min.css" 
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
      crossorigin="anonymous">

<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-expand-md navbar-light bg-light" 
     role="navigation">

    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" 
               href="{{ url_for('index')}}">

               <img src="/static/assets/logo.svg" 
                    alt="Logo" 
                    width="30" 
                    height="30">
                    
                </a>
          </div>
        <ul class="navbar-nav navbar-right me-auto mb-0 mc-lg-0">
            <!-- If logged in then show profile picture -->
            {% if g.user %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url_for('blog.profile', id=g.user['id']) }}">

                       <img src="/static/assets/person-circle.svg" 
                            height="30" 
                            width="30">

                        </a>
                </li>
            <!-- Otherwise show login -->
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" 
                       href="{{ url_for('auth.login') }}">

                       Login
                    
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <!-- Creates header block -->
    {% block header %}{% endblock %}
    <hr>
    <!-- Loops through all errors and flashes them -->
    {% with errors = get_flashed_messages(category_filter=['error']) %}
        {% if errors %}
            {% for message in errors %}
                <div id="alert" 
                     class="alert alert-danger alert-dismissible fade show"
                      role="alert">

                      {{ message }}
                      
                      <button type="button" 
                              class="close" 
                              data-dismiss="alert" 
                              aria-label="Close">

                    <span aria-hidden="true">
                        &times;
                    </span>

                  </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <!-- Loops through all positive messages and flashes them -->
    {% with success = get_flashed_messages(category_filter=['message']) %}
        {% if success %}
            {% for message in success %}
                <div id="alert" 
                     class="alert alert-success alert-dismissible fade show" 
                     role="alert">

                     {{ message }}

                     <button type="button" 
                             class="close" 
                             data-dismiss="alert" 
                             aria-label="Close">

                    <span aria-hidden="true">
                        &times;
                    </span>

                  </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- Creates content block -->
    {% block content %} {% endblock %}
</div>

<!-- Links to local files -->
<script type="text/javascript" 
        src="/static/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" 
        src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
